@page
@model RegisterModel
@{
    ViewData["Title"] = "Зареєструватися";
}

<h1>@ViewData["Title"]</h1>

<div>
    <div class="d-flex justify-content-center">
        <form enctype="multipart/form-data" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Створити новий аккаунт.</h4>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email">Електронна пошта</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Пароль</label>
                <input asp-for="Input.Password" class="form-control"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Підтвердження паролю</label>
                <input asp-for="Input.ConfirmPassword" class="form-control"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Avatar">Мармизка</label>
                <input asp-for="Input.Avatar" class="form-control" style="height: min-content; padding: 3px;"/>
                <span asp-validation-for="Input.Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Region">Область</label>
                <input asp-for="Input.Region" class="form-control"/>
                <span asp-validation-for="Input.Region" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.City">Місто</label>
                <input asp-for="Input.City" class="form-control"/>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Street">Вулиця</label>
                <input asp-for="Input.Street" class="form-control"/>
                <span asp-validation-for="Input.Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PostalCode">Поштовий індекс</label>
                <input asp-for="Input.PostalCode" class="form-control"/>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber">Номер телефону</label>
                <input asp-for="Input.PhoneNumber" class="form-control"/>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn_book">Зареєструватися</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}