.about_me_filling, .idea_for_million_filling, .about_me_title, .idea_for_million_title {
    font-family: Montserrat;
    font-style: normal;
    color: #4C4333;
}

.about_me_filling, .idea_for_million_filling {
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
}

.about_me_title, .idea_for_million_title {
    font-weight: 600;
    font-size: 40px;
    line-height: 59px;
}

.first_row, .second_row {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.text1, .text2 {
    width: 60%;
    word-wrap: break-word;
}

.arrow1, .arrow2 {
    mix-blend-mode: luminosity;
    max-width: 100%;
    max-height: 300px;
    margin: 5%;
}

.arrow2 {
    transform: rotate(180deg);
}

@media only screen and (max-width: 1100px) {
    .text1, .text2 {
        width: 100%;
        word-wrap: break-word;
    }

    .arrow1, .arrow2 {
        height: 40%
    }

    .arrow1 {
        margin-left: 40%;
    }

    .arrow2 {
        width: 223px;
        height: 274px;
        margin-top: -250px;
        margin-left: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .about_me_title, .idea_for_million_title {
        font-weight: 700;
        font-size: 28px;
        line-height: 30px;
        margin-top: -25px;
    }

    .about_me_filling, .idea_for_million_filling {
        font-size: 24px;
        line-height: 26px;
    }

    .idea_for_million_title {
        margin-top: 0;
    }

    .arrow1 {
        margin-left: 40%;
    }

    .arrow2 {
        width: 210px;
        height: 210px;
        margin-top: -250px;
        margin-left: 10%;
    }
}