.book_search {
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.book_search * {
    border: 2px solid rgba(189, 166, 152, 1);
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.book_search *:first-child {
    max-width: 400px;
    width: 100%;
}

.avaliable_books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.avaliable_book {
    border: 2px solid rgba(189, 166, 152, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: space-between;
    margin: 10px;
    
    padding: 15px;
    text-align: center;
    width: 230px;
}

.avaliable_book:hover {
    background: rgba(189, 166, 152, 0.3);
    border: 2px solid rgba(189, 166, 152, 1);
    color: black;
    cursor: grab;
    text-decoration: none;
    transition-duration: 0.4s;
}

.avaliable_book_image {
    border-radius: 10px;
    max-height: 300px;
    width: 100%;    
}

.avaliable_book_text {
    margin: 10px;
    word-wrap: break-word;
}

.avaliable_book_text_description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.avaliable_book_text_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*book details*/

.book_details {
    background: rgba(189, 166, 152, 0.1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px;
    padding: 15px;
}

.book_buttons {
    background: rgba(189, 166, 152, 0.1);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

.btn_book {
    background: rgba(189, 166, 152, 0.5);
    font-weight: 600;
    margin: 15px;
}

.btn_book:hover { background: rgba(189, 166, 152, 1); }

/* book trade */

.book_trade {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.book_trade_book {
    border-radius: 15px;
    border-radius: 15px;
    margin: 0px;
    padding: 15px;
    text-align: center;
}

.book_trade_book:hover {
    animation-delay: 0.3s;
    background: rgba(189, 166, 152, 0.2);
}

.book_trade_choise_list:hover {
    animation-delay: 0.3s;
    background: rgba(189, 166, 152, 0.2);
}

.book_trade_choice {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.book_trade_choice .avaliable_book { height: calc(100% - 20px); }

/* trade offers */

.trade_offers {
    background: rgba(189, 166, 152, 0.2);
    border-radius: 15px;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
}

.trade_offers_offer {
    background: rgba(189, 166, 152, 0.2);
    border: 2px solid rgba(189, 166, 152, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

.trade_offers_overflow {
    max-height: 80vh;
    overflow-y: scroll;
}

.trade_offers_text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.trade_offers_action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.trade_offers_text .avaliable_book { width: 190px; }

/* trade offer details */

.offer_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 32vw;
}

.offer_details .trade_offers_text {
    background: rgba(189, 166, 152, 0.3);
    border-radius: 15px;
    padding: 15px;
}

.offer_details .avaliable_book { width: 150px; }

.offer_book_details {
    padding: 10px;
    text-align: initial;
}