.contacts_arrow {
    margin-left: 250px;
    mix-blend-mode: luminosity;
    transform: scale(-1, 1);
    width: 200px;
}

.contact_title {
    color: #4C4333;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 59px;
    width: 100%;
}

.main_email_icon { height: 100px; }

.contact_text, .contact_extra_text {
    color: #4C4333;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: 41px;
}

.contact_text {
    position: relative;
    width: 70%;
}

.contact_extra_text {
    margin-left: 20%;
    margin-top: 40px;
    position: relative;
}

@media only screen and (max-width: 700px) {
    .contact_text {
        position: relative;
        width: 100%;
    }

    .contact_extra_text {
        margin-left: 0%;
        margin-top: 40px;
        position: relative;
    }
}

@media only screen and (max-width: 725px) {
    .contact_title {
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
    }

    .contact_text, .contact_extra_text {
        font-size: 24px;
        line-height: 26px;
    }

    .main_email_icon { display: none; }

    .contacts_arrow {
        bottom: 50px;
        margin: 0;
        margin-left: 250px;
        width: 100px;
    }
}