@{
    ViewData["Title"] = "Про нас";
}

<link rel="stylesheet" href="~/css/about.css">

<div class="about_page">
    <div class="first_row">
        <div class="text1">
            <h3 class="about_me_title">
                Про мене
            </h3>
            <p class="about_me_filling">
                Що ж, мене звуть Роман, і я студент з України. Люблю фотографувати й займатися активним туризмом... Хоча і не тільки активним =) Більшість часу я намагаюся присвятити навчанню, що має окреме місце у моєму сердечку. У вільний час я працюю над “Switchbook”.            </p>
        </div>
        <img src="https://github.com/Alrighter/SwitchBook/blob/main/img/arrow.png?raw=true" alt="Arrow1" class="arrow1">
    </div>
    <div class="second_row">
        <img src="https://github.com/Alrighter/SwitchBook/blob/main/img/arrow.png?raw=true" alt="Arrow2" class="arrow2">
        <div class="text2">
            <h3 class="idea_for_million_title">
                Ідея з мільйона!
            </h3>
            <p class="idea_for_million_filling">
                Я маю на увазі ідеї, які приходять нам у голову щодня, але ми їх не реалізуємо. Я припускаю, що у кожного були «Ідеї з мільйона», і, швидше за все, вони з'явилися ввечері, а вранці зникають або просто не реалізуються через певні труднощі або, або, або... Ну ви зрозуміли, я намагався втілити в життя одну з таких ідей, яких, на мою думку, щодня зникає з мільйон.            </p>
        </div>
    </div>
</div>