@{
    ViewData["Title"] = "Контакти";
}

<h2></h2>

<link rel="stylesheet" href="~/css/contacts.css">

<div class="contacts_page">
    <h3 class="contact_title">Хо-хо, контакти?</h3>
    <p class="contact_text">
        Що ж, якщо вам дійсно хочеться зв'язатися з будь-яких причин зі мною ви можете зв'язатися зі мною через електронну пошту: <br>
        <a href="mailto:romanzhykhor@gmail.com">
            <img src="https://raw.githubusercontent.com/Alrighter/SwitchBook/ac7c6da6b5bb2e0b7f98246665d185d5c87e0407/img/email_icon.svg" alt="Email icon" height="22px">
            <strong>romanzhykhor@gmail.com</strong> <br>
        </a>
        Крім того, ви можете написати мені у
        <a href="https://www.instagram.com/roman_zhykhor" target="»_blank»">
            <u>Instagram</u>
        </a>
        і
        <a href="https://www.t.me/alrighter" target="»_blank»">
            <u>Telegram</u>
        </a>.
    </p>
    <p class="contact_extra_text">До того ж, можна натиснути на поштовий конверт внизу кожної сторінки :P</p>
    <img class="contacts_arrow" src="https://github.com/Alrighter/SwitchBook/blob/main/img/arrow.png?raw=true"/>
</div>